@import "xterm/css/xterm.css";
@import "common-web-styles/dist/common.css";

.terminal {
    border-radius: 10px;
    padding: 20px;
    overflow: scroll;
}

.row {
    display: flex;
}

.row * {
    margin-left: 3px;
}