@import "xterm/css/xterm.css";
@import "common-web-styles/dist/common.css";

@font-face {
    font-family: FiraCode Nerd Font Mono;
    src: url("../fonts/Fira Code Regular Nerd Font Complete Mono.ttf");
}

@font-face {
    font-family: FiraCode Nerd Font Mono;
    src: url("../fonts/Fira Code Bold Nerd Font Complete Mono.ttf");
    font-weight: bold;
}

html, body {
    margin: 0px;
    font-family: "FiraCode Nerd Font Mono", monospace;
}

.terminal {
    border-radius: 10px;
    padding: 20px;
    overflow: scroll;
}

.row {
    display: flex;
}

.row * {
    margin-left: 3px;
}


.banner {
    padding: 10px;
    color: transparent;
    text-align: center;
}

.red-banner {
    background-color: red;
    color: unset;
}