@import "@xterm/xterm/css/xterm.css";

@font-face {
    font-family: "FiraCode Nerd Font Mono";
    src: url("/fonts/Fira Code Regular Nerd Font Complete Mono.ttf");
}

@font-face {
    font-family: "FiraCode Nerd Font Mono";
    src: url("/fonts/Fira Code Bold Nerd Font Complete Mono.ttf");
    font-weight: bold;
}

html,
body {
    margin: 0px;
    font-family: "FiraCode Nerd Font Mono", monospace;
}

:root {
    color-scheme: light dark;
}

.banner {
    padding: 5px;
    color: transparent;
    text-align: center;
    position: absolute;
    top: 0;
    z-index: 1;
}

.red-banner {
    background-color: #ff00007a;
    color: unset;
}

.terminal-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;

    margin: 0 5px 0 5px;
    background-color: var(--interactive-background-color);
    border-radius: 5px;

    .window-header {
        flex: 0 1 auto;
        display: flex;
        justify-content: space-between;
        padding: 5px 10px 0 10px;
        gap: 20px;

        .header-title {
            font-size: large;
            font-weight: bold;
            flex-grow: 1;
        }
    }

    #terminal {
        border-radius: 5px;
        padding: 5px;
        overflow: scroll;
        flex: 1 1 auto;
    }
}