@import "@xterm/xterm/css/xterm.css";
@import "common-web-styles/common.scss";

@font-face {
    font-family: "FiraCode Nerd Font Mono";
    src: url("/fonts/Fira Code Regular Nerd Font Complete Mono.ttf");
}

@font-face {
    font-family: "FiraCode Nerd Font Mono";
    src: url("/fonts/Fira Code Bold Nerd Font Complete Mono.ttf");
    font-weight: bold;
}

html,
body {
    margin: 0px;
    font-family: "FiraCode Nerd Font Mono", monospace;
}

.banner {
    padding: 5px;
    color: transparent;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
}

.red-banner {
    background-color: #ff00007a;
    color: unset;
}

.terminal-wrapper {
    margin: 0 5px 0 5px;
    background-color: var(--interactive-background-color);
    border-radius: 5px;

    .window-header {
        padding: 5px 10px 0 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .header-title {
            font-size: large;
            font-weight: bold;
        }
    }

    #terminal {
        border-radius: 5px;
        padding: 5px;
        overflow: scroll;
    }
}